<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTTP</title>
    <style>
        textarea[id="response-raw"] {
            background-color: rgb(236, 236, 236);
            resize: none;
        }

        .slider {
            width: 70%;
            background: #d3d3d3;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
            border-radius: 50rem;
            appearance: none;
            -webkit-appearance: none;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border: 0;
            background: #0dcaf0;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border: 0;
            background: #0dcaf0;
            cursor: pointer;
        }

        @media screen and (max-width:900px) {
            code {
                text-wrap: balance;
            }
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="bg-light min-vh-100 text-center pt-4">
        <div class="d-block" id="titles">
            <h5>User: {{ data["user"] + "@" + data["cl"] }}</h5>
            <h3>Host:</h3>
            <h3 class="text-danger fs-1">{{ data["hostname"] + ":" + data["port"] }}</h3>
            <button class="btn p-2 mt-3 border-0 border bg-info rounded-2 text-light" id="reqBtn">Request
                eltüntetés</button>
            <div class="p-3 d-block" id="fontSize">
                <p>Betűméret</p>
                <input class="slider" type="range" value="16" min="13" max="40" id="font-size">
            </div>
            <div class="form-check form-switch d-flex justify-content-center pt-3">
                <label class="form-check-label" for="sw">Response szétszedése</label>
                <input class="ms-2 form-check-input" type="checkbox" role="switch" id="sw" onchange="switchView()">
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row gap-4 px-4 py-2">
            <div class="col d-block" id="reqBlock">
                <h3>HTTP Request:</h3>
                <form action="/" method="post">
                    <textarea name="req" class="border-0 border w-100 rounded-2 p-3" rows="20"
                        id="req">{{ data["req"] }}</textarea>
                    <div class="btn-container d-flex justify-content-center">
                        <input class="btn p-2 mt-3 border-0 border bg-danger rounded-2 text-light d-none" id="btn"
                            type="submit" value="Send request">
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h3>HTTP Response:</h3>
                </div>
                <textarea class="border-0 border w-100 rounded-2 p-3 d-block" readonly name="res"
                    id="response-raw">{{ data["raw"] }}</textarea>
                <div id="response-parts" class="pt-3 d-none">
                    <h4>Response line:</h4>
                    <pre class="text-start">
                        <code>
{{ data["r_line"] }}
                                    </code>
                                </pre>
                    <h4>Header:</h4>
                    <pre class="text-start">
                                    <code>
{{ data["header"] }}
                                    </code>
                                </pre>
                    <h4>Body:</h4>
                    <pre class="text-start">
                                    <code >
{{ data["body"] }}
                                    </code>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <script>
        let textArea = document.querySelector("#response-raw");
        let sendBtn = document.querySelector('#btn');
        let slider = document.getElementById('font-size');
        let request = document.querySelector("#req");
        let reqBody = document.querySelector("#reqBlock");
        let reqBtn = document.querySelector("#reqBtn");
        let controller = document.querySelector("#controller")
        document.getElementById("sw").checked = false;

        function switchView() {
            var chboxs = document.getElementById("sw");
            var resRaw = document.getElementById("response-raw");
            var resParts = document.getElementById("response-parts");
            var fontSize = document.getElementById("fontSize")

            if (resRaw.classList.contains("d-block")) {
                resRaw.classList.remove("d-block");
                resRaw.classList.add("d-none");
            }
            else {
                resRaw.classList.remove("d-none");
                resRaw.classList.add("d-block");
            }

            if (resParts.classList.contains("d-none")) {
                resParts.classList.remove("d-none");
                resParts.classList.add("d-block");
            }
            else {
                resParts.classList.remove("d-block");
                resParts.classList.add("d-none");
            }
            fontSize.classList = chboxs.checked ? "d-none" : "d-block";
        }


        function autoSize() {
            let reqText = document.getElementById("req");
            textArea.style.minHeight = '37px';
            textArea.style.height = '37px';
            textArea.style.height = textArea.scrollHeight + 'px';
            reqText.style.minHeight = '37px';
            reqText.style.height = '37px';
            reqText.style.height = reqText.scrollHeight + 'px';
        }

        function fontSize() {
            let reqText = document.getElementById("req");
            slider.value = textArea.style.fontSize;
            reqText.style.fontSize = slider.value

            slider.addEventListener('input', function () {
                var size = slider.value;
                textArea.style.fontSize = size + "px";
                reqText.style.fontSize = size + "px";
                autoSize();
            });
        }

        function requestCheck() {
            if (request.value.length >= 1) {
                sendBtn.classList.remove("d-none")
                sendBtn.classList.add("d-block")
            }
            else {
                sendBtn.classList.remove("d-block")
                sendBtn.classList.add("d-none")
            }
        }

        window.addEventListener('load', () => {
            requestCheck();
            autoSize();
        });
        request.addEventListener('keyup', () => {
            requestCheck();
            autoSize();
        })
        sendBtn.addEventListener('click', () => {
            autoSize();
        });
        slider.addEventListener('input', fontSize());
        reqBtn.addEventListener('click', () => {
            if (reqBody.classList.contains("d-block")) {
                reqBody.classList.remove("d-block");
                reqBody.classList.add("d-none");
                reqBtn.textContent = "Request megjelenítés"
            }
            else {
                reqBody.classList.remove("d-none");
                reqBody.classList.add("d-block");
                reqBtn.textContent = "Request eltüntetés"
                autoSize();
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>